{% extends 'master.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <!-- Header content goes here -->
</header>

<div class="container my-5">
    <h2 class="text-center mb-4">Login Form</h2>
    <form action="/login/" method="post" class="needs-validation" novalidate name="signup">
        {% csrf_token %}

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{values.email}}" maxlength="50" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="20" required>
            <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div>
            <a href="{% url 'password_reset' %}">Forgot Password</a>
        </div>
    </form>
</div>
<footer>
  <!-- Footer content goes here -->
</footer>
<script>
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })
</script>
</body>
</html>
{% endblock %}
